@model Masonry.Models.UserProfileModel

<style type="text/css">

  .popover {
    width: auto;
  }
  
  .popover-content {
    padding: 0;
  }

    .profile-header {
        margin-left: 58px;
    }

    .profile-user-name {
        font-size: 24px;
        line-height: 28px;
        white-space: nowrap;
        font-weight: bold;
        color: #333;
        margin: 0;
    }

    .profile-user-account {
        font-size: 16px;
        line-height: 20px;
        color: #777;
        margin: 0;
        font-weight: normal;
    }

    .profile-user-picture {
        float: left;
        display: inline-block;
        width: 48px;
        height: 48px;
    }
   
  .profile-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 8px 14px;
    font-size: 14px;
    line-height: 18px;
  }
</style>

@{ var timelineLink = Url.Action("Feed", "Timeline", new { area = "", uid = Model.Account }); }

<div style="padding: 9px 14px">
  <div>
    <a href="@timelineLink">
      <img class="profile-user-picture" src="@Url.Action("PictureSmall", "Account", new { area = "", uid = Model.Account })" alt="@Model.Name"/>
    </a>
    <div class="profile-header">
      <a href="@timelineLink" style="text-decoration: none">
        <h2 class="profile-user-name">@Model.Name</h2>
      </a>
      <a href="@timelineLink" style="text-decoration: none">
        <h3 class="profile-user-account">@@@Model.Account</h3>
      </a>
    </div>
  </div>
</div>

<div>
  <ul class="profile-stats-list-horizontal">
    <li>
      <a href="@timelineLink"><strong>@Model.Posts</strong>@Strings.NumPosts</a>
    </li>
    <li>
      <a href="@Url.Action("Following", "People", new { area = "", uid = Model.Account })">
        <strong>@Model.Following</strong>@Strings.NumFollowing
      </a>
    </li>
    <li>
      <a href="@Url.Action("Followers", "People", new { area = "", uid = Model.Account })">
        <strong>@Model.Followers</strong>@Strings.NumFollowers
      </a>
    </li>
  </ul>
</div>

<div class="profile-footer">
  @if (Model.IsOwnProfile)
  {
    <a class="btn" href="@Url.Action("Index", "Account", new { area = "" })">@Strings.EditProfile</a>
  }
  else if (Model.IsFollowed)
  {
    <a class="btn btn-danger" href="@Url.Action("Unfollow", "Timeline", new { area = "", uid = Model.Account })">@Strings.Unfollow</a>
  }
  else
  {
    <a class="btn btn-primary" href="@Url.Action("Follow", "Timeline", new { area = "", uid = Model.Account })">@Strings.Follow</a>
  }
</div>